<p id="notice"><%= notice %></p>
<h1>Welcome to <%= @pitcher.name %>'s homepage</h1>
<p>
  <b>Name:</b>
  <%= @pitcher.name %>
</p>

<p>
  <b>Email:</b>
  <%= @pitcher.email %>
</p>

<% pitches = @pitcher.pitches_for_pitcher(@pitcher.id) %>     
<% pitches.each do |p| %> 
  <p>
    <%= link_to "view", pitcher_pitch_path(@pitcher.id, p.id) %>     
    <%= render :partial => 'pitches/youtube_video', locals: {pitch: p, size: "thumb"}  %>
    
  </p>
<% end %>

<%= link_to 'New Pitch', new_pitcher_pitch_path(@pitcher.id) %> 
<%= link_to 'Edit', edit_pitcher_path(@pitcher) %> |
<%= link_to 'Back', pitchers_path %>
