<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pitcher.name %>
</p>

<p>
  <b>Email:</b>
  <%= @pitcher.email %>
</p>

<% pitches = @pitcher.pitches_for_pitcher(@pitcher.id) %>     
<%= pitches.inspect %>
<% pitches.each do |p| %> 
  <p>
    <%= p.pitch_video_url %>
    <%= p["vid_key"] %>
    <%= link_to "view", pitcher_pitch_path(@pitcher.id, p.id) %> 
  </p>
<% end %>

<%= link_to 'New Pitch', new_pitcher_pitch_path(@pitcher.id) %> 
<%= link_to 'Edit', edit_pitcher_path(@pitcher) %> |
<%= link_to 'Back', pitchers_path %>
