<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pitcher.name %>
</p>

<p>
  <b>Email:</b>
  <%= @pitcher.email %>
</p>

<%= @pitcher.pitches_for_pitcher(@pitcher.id).inspect %>
<%= link_to 'New Pitch', new_pitcher_pitch_path(@pitcher.id) %> 
<%= link_to 'Edit', edit_pitcher_path(@pitcher) %> |
<%= link_to 'Back', pitchers_path %>
