<p id="notice"><%= notice %></p>

<p>
  <b>Pitch:</b>
  <%= @pitch.id %>
</p>

<p>
  <b>Pitcher:</b>
  <%= @pitch.pitcher_id %>
</p>  

<p>
  <b>Pitcher:</b>
  <%= @pitch.pitch_video_url %>
</p>


<%= link_to 'Back', pitch_submissions_path %>
