<p id="notice"><%= notice %></p>

<p>
  <b>Pitch:</b>
  <%= @pitch.id %>
</p>

<p>
  <b>Pitcher:</b>
  <%= @pitch.pitcher_id %>
</p>  

<p>
  <b>Video:</b>
  <%= render :partial => 'youtube_video', locals: {pitch: @pitch, size: "full"}  %> 
</p>


<%= link_to 'Back', pitch_submissions_path %>
